.url, #myform {
    margin: 10px;
    padding: 15px 10px;
}

.url a:first-child {
    color: rgb(28, 16, 194);
}

.url a:last-child {
    color: rgb(55, 54, 54);
}

.forms form label {display: none;}
.forms h2 {
    margin: 20px 10px;
    padding: 15px 10px;
    border-bottom: 2px solid black;
    font-size: 2.3em;
    color: rgb(155, 14, 145);
}

.forms p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 5px 10px 10px 10px;
    padding: 5px;
}

.forms p > span:first-child {
    font-weight: 500px;
}

.forms form #name, #email, #phone {
    display: inline-block;
    width: 32%;
    height: 38px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 5px;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}

.forms form #comentary {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}

.forms form #name:focus, #email:focus, #phone:focus, #comentary:focus {
    border: 4px solid purple;
}

.forms form .btn-form1 {
    display: block;
    width: 20%;
    height: 40px;
    margin: 0 auto;
    font-size: 1em;
    color: black;
    font-weight: 900;
    background-color: turquoise;
    border-radius: 15px;
}

.forms form .btn-form1:hover {
    background-color: aquamarine;
}