{% extends 'Home/Base/base.html' %}
{% load static %}

{% block content %}
<section class="row" id="banner">
    <div class="container-banner" style="border: 2px solid
         purple;">
        <h1 id="title-banner">welcome to <br><span>Content writing Services</span></h1>
        <p id="content-banner">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking </p>
        <button type="button" class="btn-banner"><a href="#" id="contact">Contacto</a></button>
    </div>
</section>
<main class="row">
    <section class="col-12">
        <div class="ctn container-main main-p">
            <h1 class="text-intro">Course Content Free Books</h1>
            <p id="content-intro">It is a long established fact that a reader will be distracted by the readable content
                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content here, content here', making it look like
                readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancIt
                is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infanc.</p>
            <button type="button" class="btn-banner"><a href="#" id="contact">Empezar</a></button>
        </div>
    </section>

    <!-- seccion de cursos y libros gratis -->
    <section class="col-12" id="cours-cours">
        <div id="cours-free">
            <div class="col-9">
                <div class="col-12 ">
                    {% for cours in cours_all %}
                    <article class="col-4 box-cours" id="">
                        <a href="#">
                            <div class="col-12 container-cours">
                                <div class="img-port">
                                    <img src="{{cours.image_cours.url}}" alt="cours">
                                </div>
                                <div class="content-port">
                                    <hr>
                                    <div class="ctg-cours">
                                        <a href="#">Curso</a> <span>/</span>
                                        {% for subctg in cours.subcategory.all %}
                                        <a href="#">{{subctg.name_subcategory}}</a>
                                        {% endfor %}
                                    </div>
                                    {% for author in cours.author_cours.all %}
                                    <h1 class="author-cours"><span>{{author.name_author}}</span></h1>
                                    {% endfor %}
                                    <h2 class="title-cours" style="margin: 20px 0;"><a
                                            href="#">{{cours.title_cours}}</a></h2>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endfor %}

                </div>
            </div>

            <aside class="col-3">
                <div class="col-12 container-box sidebar-featured">
                    <div class="h1-title">
                        <h1 id="title-post">Post Destacado</h1>
                    </div>
                    <div class="sidebar-image-container">
                        <img src="{% static 'Home/img/Annie.jpeg' %}" alt="Promoción" class="sidebar-img">
                    </div>
                </div>

                <div class="col-12 container-box">
                    <h1 id="title-post">Sígueme</h1>
                    <div class="sidebar-social-grid">
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="fb"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="tw"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="ig"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="wa"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="tg"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <!-- secccion de servicios -->
    <div class="col-12">
        <div class="container-main bg-color main-p">
            <h1 id="title-services">Out Services</h1>
        </div>
    </div>

    <section class="col-12" style="margin: 20px 0;" id="box-srv">
        <div class="container-main bg-color">
            <div class="row">
                <div class="col-6 pdg-color">
                    <div class="box-service" style="border-radius: 54px 20px;">
                        <div>
                            <img src="{% static 'Home/img/like-icon.png' %}" alt="icon-like">
                        </div>
                        <div>
                            <h1 id="title-srv">Cursos Gratis</h1>
                            <p id="content-srv">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English. Many desktop publishing
                                packages and web page editors now use Lorem Ipsum as their default model text.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 pdg-color">
                    <div class="box-service" style="border-radius: 20px 54px;">
                        <div>
                            <img src="{% static 'Home/img/fast-forword-icon.png' %}" alt="icon-like">
                        </div>
                        <div>
                            <h1 id="title-srv">Cursos Gratis</h1>
                            <p id="content-srv">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English. Many desktop publishing
                                packages and web page editors now use Lorem Ipsum as their default model text.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pdg-color">
                    <div class="box-service" style="border-radius: 20px 54px;">
                        <div>
                            <img src="{% static 'Home/img/design-icon.png' %}" alt="icon-like">
                        </div>
                        <div>
                            <h1 id="title-srv">Cursos Gratis</h1>
                            <p id="content-srv">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English. Many desktop publishing
                                packages and web page editors now use Lorem Ipsum as their default model text.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 pdg-color">
                    <div class="box-service" style="border-radius: 54px 20px;">
                        <div>
                            <img src="{% static 'Home/img/writing-icon.png' %}" alt="icon-like">
                        </div>
                        <div>
                            <h1 id="title-srv">Cursos Gratis</h1>
                            <p id="content-srv">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                here, content here', making it look like readable English. Many desktop publishing
                                packages and web page editors now use Lorem Ipsum as their default model text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}