{% extends 'Home/Base/base.html' %}
{% load static %}

{% block content %}
<main class="row">
    <section class="col-12" id="cours-cours">
        <div id="cours-free" style="border-bottom: none;">
            <div class="col-9">
                <div class="col-12 conatiner-cours">
                    {% for cours in cours_all %}
                    <article class="col-4 box-cours" id="">
                        <a href="#">
                            <div class="col-12 container-cours">
                                <div class="img-port">
                                    <img src="{{cours.image_cours.url}}" alt="cours">
                                </div>
                                <div class="content-port">
                                    <hr>
                                    <div class="ctg-cours">
                                        <a href="#">Curso</a> <span>/</span>
                                        {% for subctg in cours.subcategory.all %}
                                        <a href="#">{{subctg.name_subcategory}}</a>
                                        {% endfor %}
                                    </div>
                                    {% for author in cours.author_cours.all %}
                                    <h1 class="author-cours"><span>{{author.name_author}}</span></h1>
                                    {% endfor %}
                                    <h2 class="title-cours" style="margin: 20px 0;"><a
                                            href="#">{{cours.title_cours}}</a></h2>
                                    <p class="desc-cours">{{cours.description_cours|truncatewords:20}}</p>
                                    <div class="card-footer">
                                        <div class="rating">
                                            {% for i in "12345" %}
                                            <i
                                                class="fas fa-star {% if forloop.counter <= cours.rating %}gold{% endif %}"></i>
                                            {% endfor %}
                                        </div>
                                        <a href="#" class="btn-read-more">Leer más</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>

                    {% endfor %}

                </div>
            </div>

            <aside class="col-3">
                <div class="col-12 container-box">
                    <h1 id="title-post">Post Recientes</h1>
                    {% for POST in post %}
                    <div class="col-12 container-content-post"
                        style="border-bottom: 2px solid rgb(172, 164, 164); margin-top: 25px;">
                        <a href="#">
                            <h2>{{ POST.title_cours }}</h2>
                        </a>
                        <p class="sidebar-desc">{{ POST.description_cours|truncatewords:10 }}</p>
                        <p>{{ POST.created }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12 container-box">
                    <h1 id="title-post">Sígueme</h1>
                    <div class="sidebar-social-grid">
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="fb"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="tw"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="ig"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="wa"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="tg"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>

        <!-- seccion de botones de cursos -->
        <div class="row" id="btn-number">
            <div class="col-12 pagination-container">
                <a href="{% url 'Cursos' %}" class="pagination-arrow first" title="Inicio">
                    <i class="fas fa-angle-double-left"></i>
                </a>

                <div class="pagination-numbers">
                    {% for num in range %}
                    {% if num != 0 %}
                    <a href="{% url 'Cursos' %}?p={{num}}"
                        class="page-number {% if request.GET.p == num|stringformat:'i' or not request.GET.p and num == 1 %}active{% endif %}">
                        {{num}}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>

                <button class="pagination-arrow last" title="Final">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
        <!-- fin de esta seccion -->
    </section>
</main>
{% endblock %}