{% extends 'Home/Base/base.html' %}
{% load static %}

{% block content %}
<main class="row">
    <!-- seccion de cursos y libros gratis -->
    <section class="col-12" id="cours-cours">

        <!-- seccion de titulo curso -->
        <div class="container-subctg">
            <h1 class="title-cours">Libros {{name_subctg}} Gratis</h1>
        </div>
        <!-- fin de esta seccion -->

        <div id="cours-free" style="border-bottom: none;">
            <div class="col-9">
                <div class="col-12 conatiner-cours">
                    {% for book in books_all %}
                    <article class="col-4 box-cours" id="">
                        <a href="#">
                            <div class="col-12 container-cours" style="height: 420px;">
                                <div class="img-port">
                                    <img src="{{book.image_book.url}}" alt="books">
                                </div>
                                <div class="content-port">
                                    <hr>
                                    <div class="ctg-cours">
                                        <a href="#">Curso</a> <span>/</span>
                                        <a href="#">{{book.subcategory.name_subcategory}}</a>
                                    </div>
                                    <h1 class="author-cours"><span>{{book.author_book.name_author}}</span></h1>
                                    <h2 class="title-cours" style="margin: 20px 0;"><a href="#">{{book.title_book}}</a>
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endfor %}
                </div>
            </div>

            <aside class="col-3">
                <div class="col-12 container-box">
                    <h1 id="title-post">Post Recientes</h1>
                    {% for POST in post %}
                    <div class="col-12 container-content-post"
                        style="border-bottom: 2px solid rgb(172, 164, 164); margin-top: 25px;">
                        <a href="#">
                            <h2>{{POST.title_book}}</h2>
                        </a>
                        <p>{{POST.created}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12 container-box">
                    <h1 id="title-post">Sígueme</h1>
                    <div class="sidebar-social-grid">
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="fb"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="tw"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="ig"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="wa"></div>
                            </a>
                        </div>
                        <div class="social-item">
                            <a href="#">
                                <div class="icon-style" id="tg"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>

        <div class="container-subctg" id="btn-number">
            <div class="container-btn">
                <button class="col-1 first-btn">
                    << Inicio</button>
                        <div class="col-10">
                            <center>
                                {% for num in range %}
                                {% if num != 0 %}
                                <button type="button" id="number"><span><a
                                            href="{% url 'sub_categoria_books' %}?p={{num}}">{{num}}</a></span></button>
                                {% endif %}
                                {% endfor %}
                            </center>

                        </div>
                        <button class="col-1 finally-btn">Final >></button>
            </div>
        </div>
    </section>
</main>
{% endblock %}