{% extends 'Home/Base/base.html' %}
{% load static %}

{% block content %}
<main class="row">
    <section class="col-12" id="contact-section">
        <div class="container-main">
            <div id="contact-layout">
                <div class="url">
                    <a href="{% url 'Home' %}">Home</a> <span>/</span> <a href="#">Contact</a>
                </div>
                <div class="forms">
                    <h2>Contáctame</h2>
                    <p>Nos encantaría saber de usted. Complete el siguiente formulario con información sobre su duda o
                        pregunta y me pondré en contacto con usted tan pronto como pueda. Por favor permítame
                        <span>24h</span> para responder
                    </p>
                    <form action="" method="get" id="myform">
                        {{form}}
                        <div class="form-footer">
                            <button type="submit" class="btn-form1">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}